/* GLOBAL STYLES */
body {
    font-family: 'Times New Roman', monospace; 
    font-size: 16px; 
    line-height: 1.5; 
    color: #333;
}
button, input, select, textarea {
    border-color: #fff;
    background-color: #eee;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    color: inherit;
}
button:hover {
    background-color: #ddd;
}
button:disabled:hover {
    background-color: #eee;
}

/* REUSABLE */
.centered {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    position: fixed;
    height: 100%;
    width: 100%;
}
.centered-bottom {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: flex-end;
    position: relative;
    height: inherit;
    width: 100%;
}
.vertical-flex {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 100%;
}
.vertical-space-between {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: relative;
    height: 100%;
}
.horizontal-flex {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
}
.stretch-row {
    align-items: stretch;
    height: 100%;
}
.horizontal-space-between {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: relative;
    width: 100%;
}
.horizontal-full{
    display: flex;
    white-space: nowrap;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}
.horizontal-full input{
    flex-grow: 1;
}
.horizontal-full button {
    flex-grow: 1;
    margin: 0 3px;
    text-align: center;
}
.horizontal-left {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    width: inherit;
}
.horizontal-right {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    position: relative;
    width: inherit;
}
.component-container {
    border-radius: 6px;
    border: 1px solid #333;
    background-color: #fff;
    display: flex;
    height: auto;
    width: auto;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
    padding: 20px;
    margin: 10px;
}
.stretch-container {
    flex: 1;
}
/* for making absolute elements relative */
.flex-container {
    display: flex;
    height: inherit;
    width: inherit;
    min-height: 300px;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

/* CAROUSEL */
.card {
    position: absolute;
    background-color: #fff;
    width: 120px;
    height: 150px;
    border: 1px solid #333;
    border-radius: 5px;
    cursor: pointer;
    transition: transform 0.3s, z-index 0.3s, opacity 0.3s;
    transform-origin: bottom center;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* CALENDAR */
.calendar-grid {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    width: 100%;
    gap: 5px;
}
.calendar-day {
    height: 50px;
    width: 100%;
    min-width: 105px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #333;
    border-radius: 4px;
    background-color: #fff;
    font-size: 1rem;
    box-sizing: border-box;
}
.calendar-day:hover {
    background-color: #ddd;
    cursor: pointer;
}
.calendar-day.selected {
    background-color: #ddd;
}

/* MODAL */
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #00000080;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}
.modal-content {
    background-color: #fff;
    padding: 10px;
    border-radius: 4px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}
.modal-content p {
    margin: 0;
}
.modal-content .vertical-flex {
    gap: 5px;
}

/* DAYLOG METRIC LIST */
.daylog-list {
    flex-grow: 1;
    display: flex;
    height: 250px; /* hardcoded height, could not figure out how to enable dynamic properly */
    flex-direction: column;
    width: 100%;
    overflow-y: auto;
}