.vertical-flex {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    gap: 20px;
}

.card-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 300px;
}

.card {
    position: absolute;
    background-color: #fff;
    width: 120px;
    height: 150px;
    border: 1px solid #000;
    border-radius: 5px;
    cursor: pointer;
    transition: transform 0.3s, z-index 0.3s, opacity 0.3s;
    transform-origin: bottom center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card img {
    width: 100%;
    object-position: center;
    object-fit: scale-down;
}

/* calendar container */
.calendar-container {
    max-width: 400px;
    margin: 20px;
    padding: 10px;
}

/* calendar header */
.calendar-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.calendar-title {
    text-align: center;
    flex-grow: 1;
}

/* calendar navigation buttons */
.calendar-nav-button {
    background-color: #fff;
    border: 1px solid #000;
    border-radius: 4px;
    padding: 5px 10px;
    cursor: pointer;
    font-size: 1rem;
}

.calendar-nav-button:hover {
    background-color: #ddd;
}

/* calendar grid */
.calendar-grid {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 5px;
}

.calendar-day {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border: 1px solid #000;
    border-radius: 4px;
    background-color: #fff;
    font-size: 1rem;
}

.calendar-day:hover {
    background-color: #ddd;
    cursor: pointer;
}

/* modal */
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #00000080;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 4px;
    width: 300px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}